<div id="addItemModal1" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      
      <h2>Add something to your Accomplist</h2>
      <ul>
        <li><label class="inline" for="title">Title:</label></li>
        <li class="field">
          <input class="xwide text input" id="title" type="text" placeholder="Title">
        </li>
        <li class="field">
          <input class="xwide text input" id="title" type="text" placeholder="Title">
        </li>
        
        <li class="field">
          <label class="inline">Status:</label>
          <label class="radio" for="radio1">
            <input name="radio" id="radio1" value="1" type="radio" checked="checked">
            <span></span>In progress
          </label>
          <label class="radio" for="radio2">
            <input name="radio" id="radio2" value="2" type="radio">
            <span></span> Completed
          </label>
        </li>
        <li class="field">
          <label>Estimated completion date:</label>
          <ul class="date">
            <li><input class="xnarrow text input" placeholder="DD"></li>
            <li><input class="xnarrow text input" placeholder="MM"></li>
            <li><input class="xnarrow text input" placeholder="YYYY"></li>
          </ul>
        </li>
        <li>
          <div class="medium primary btn"><a href="dashboard.html">Submit</a></div>
        </li>
      </ul>
      
      
    </div>
  </div>