/* css */

* {
  margin: 0;
  font-family: open-sans;
  font-weight: 300;
}

body {
  background-color: blue;
  padding: 0;
  margin: 0;
  /*position: relative;*/
}

.header {
  height: 50px;
  padding: 0;
  background-color: #41BECE;
}

.main {
  background-color: #f9f6f1;
  height: 100%;
  margin-left: 240px;
}

.image {
  height: 225px;
  width: 100%;
  background-color: grey;
}

.bio {
  /*height: 50px;*/
}

.footer {
  z-index: 1111;
  background-color: green;
}