.sidebar {
  background-color: #262b31;
  width: 240px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  .pre-nav {
    height: 50px;
    background-color: #41BECE;
  }
  .photo {
    border-bottom: 5px solid #41BECE;
  }
  .user-details {
    background-color: #262b31;
    /*margin-top: 50px;*/
    background-color: #1a1f24;
    .bio {
      padding: 20px;
      h2 {
        color: white;
        font-weight: 300;
      }
      p {
        color: #b8bbc0;
        font-size: 14px;
      }
    }
  }
}

ul.nav {
  padding: 0;
  li {
    list-style: none;
    padding: 20px;
    a {
      color: #b8bbc0;
      text-decoration: none;
      width: 240px;
    }
  }
}