.sidebar {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  background-color: #262b31;
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  .pre-nav {
    height: 51px;
    background-color: #262b31;
  }
  .photo {
    border-bottom: 5px solid #41BECE;
  }
  .user-details {
    background-color: #1a1f24;
    .bio {
      padding: 20px;
      h2 {
        color: white;
        font-weight: 300;
      }
      p {
        color: #b8bbc0;
        font-size: 14px;
      }
    }
  }
}

.shadow {
  -webkit-transition: all 150ms ease-out;
  -moz-transition: all 150ms ease-out;
  -ms-transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  transition: all 200ms ease-out;
  -webkit-box-shadow: 1px 0px 3px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    1px 0px 3px rgba(50, 50, 50, 0.15);
  box-shadow:         1px 0px 3px rgba(50, 50, 50, 0.15);
}

ul.nav {
  padding: 0;
  li {
    list-style: none;
    padding: 20px;
    a {
      color: #b8bbc0;
      text-decoration: none;
      width: 240px;
    }
  }
}